[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
py2exe = "*"

[packages]
matplotlib = "*"
pandas = "*"
pyyaml = "*"
fire = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
all_black = "black main.py ./script"
